{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="/assets/styles/boutton.css">
    <link rel="stylesheet" href="/assets/styles/login.css">
{% endblock %}

{% block javascripts %}
    {% block importmap %}{{ importmap('boutton') }}{% endblock %}
{% endblock %}

{% block body %}

<section class="hero is-fullheight">
    <div class="hero-body">
        <div class="container">
            <div class="columns is-centered">
                <div class="column is-5-tablet is-4-desktop is-6-widescreen">

                    <form method="post"  class="box has-background-grey-darker">
                        <h1 class="title is-3 mb-3 font-weight has-text-white">Se connecter</h1>

                        {% if error %}
                            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                        {% endif %}

                        <div class="field">
                            <label class="label has-background-grey-darker has-text-white" for="inputEmail">Email</label>
                                 <div class="control has-icons-left">
                                    <input type="email" placeholder="bobsmith@gmail.com" class="input has-background-grey-darker has-text-white" value="{{ last_username }}" name="mail" id="inputEmail" autocomplete="email" required autofocus>
                                         <span class="icon is-small is-left">
                                             <i class="fa fa-envelope"></i>
                                         </span>
                                 </div>
                        </div>

                        <div class="field">
                            <label  class="label has-text-white" for="inputPassword">Mot de passe</label>
                            <div class="control has-icons-left">
                            <input placeholder="*******" class="input custom-border-color has-background-grey-darker has-text-white" type="password" name="motDePasse" id="inputPassword" autocomplete="current-password" required>
                                <span class="icon is-small is-left">
                                    <i class="fa fa-lock"></i>
                                </span>
                            </div>
                        </div>

                        <input type="hidden" name="_csrf_token"
                               value="{{ csrf_token('authenticate') }}">

                        <div class="field">
                            <label class="checkbox">
                                <input class="has-text-white" type="checkbox" name="_remember_me"> Se souvenir de moi
                            </label>
                        </div>

                        <div class="field">

                            <button class="" type="submit">
                                <span>Connexion</span>
                            </button>

                        </div>
                    </form>


                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
