{% extends 'base.html.twig' %}

{% block title %}Editer profil{% endblock %}

{% block body %}

<div class="is-flex is-justify-content-center is-align-self-center">
    <div class="custom-table p-4"   >
    {{ include('participant/_form.html.twig', {'button_label': 'Update'}) }}
    </div>
</div>
{% endblock %}
