{% extends 'base.html.twig' %}

{% block title %}Modifier mon profil{% endblock %}

{% block body %}

<div class="is-flex is-justify-content-center is-align-self-center mt-5">
    <div class="custom-table p-4">

    {{ include('participant/_form.html.twig', {'button_label': 'Enregistrer'}) }}
    </div>

</div>

{% endblock %}
