{% extends 'base.html.twig' %}

{% block title %}Bienvenue !!{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href="/assets/styles/boutton.css">
{% endblock %}

        {% block javascripts %}
            {% block importmap %}{{ importmap('boutton') }}{% endblock %}
        {% endblock %}

{% block body %}

    <p>Bienvenue dans l'application Sortir.com</p>

{% endblock %}
