
<nav>
    <button>
        <span>Villes</span>
    </button>
    <button>
        <span>Sites</span>
    </button>
    <button>
        <span>Accueil</span>
    </button>
    <button>
        <span>Mon profil</span>
    </button>
    <button>
        <span>Se déconnecter</span>
    </button>
</nav>