
<nav>
    <button>
        <span>Villes</span>
    </button>
    <button>
        <span>Sites</span>
    </button>
    <button>
        <a class="nav-link fw-bold" href="{{ path('app_sortie_index') }}">
        <span>Accueil</span>
        </a>
    </button>
    <button>
        <span>Mon profil</span>
    </button>
    <button>
        <span>Se déconnecter</span>
    </button>
</nav>