.custom-table {
    background-color: #a78bfa;
    border-radius: 10px;
}

.form-group {
    padding: 15px;
    background-color: #a78bfa;
}

.green {
    color: green; /* Changez cette couleur selon vos préférences */
}

.red {
    color: red; /* Changez cette couleur selon vos préférences */
}
