body{
    height: 100% !important;
}
.noscroll{
    overflow-y: hidden; /* Pour masquer la barre de défilement verticale */

}


@font-face {
    font-family: 'indieFlower';
    src: url('../fonts/IndieFlower-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'duduCaligraphy';
    src: url('../fonts/dudu_calligraphy.ttf') format('truetype');
}

*{
    font-family: duduCaligraphy, sans-serif;
}

