.custom-form{
    /* box-shadow: 25px 25px 100px 10px #2ccbc4; */
    border-color: black;
    border-radius: 10px;
    background-color: #a78bfa;

}

.custom-input{
    box-shadow: 1px 1px 1px 1px #5B21B6;
    border-color: #5B21B6;
    border-radius: 10px;
    background-color: #a78bfa;
}

.custom-error{
    color: #ffaaaa;
}

header{
    border-radius: 0px 0px 1000px 1000px;
}