
<nav class=" is-flex is-justify-content-space-around ">

    <div class="m-1">
       {% if is_granted('ROLE_ADMIN') %}
            <button>
                <span>Villes</span>
            </button>
            <button>
                <span>Sites</span>
            </button>
       {% endif %}

        <button onclick="window.location='{{ path('app_sortie_index') }}'">
            <span>Accueil</span>
        </button>

        {% if app.user is not empty %}
            <button onclick="window.location='{{ path('app_participant_show', {'id': app.user.id}) }}'">
                <span>Mon profil</span>
            </button>
            <button onclick="window.location='{{ path('app_logout') }}'">
                <span>Se déconnecter</span>
            </button>
        {% endif %}
    </div>
</nav>
